@import "tailwindcss";

@theme {
  /* Déclaration des polices liées aux variables Next.js */
  --font-sans: var(--font-montserrat);
  --font-autumn: var(--font-autumn);
  --font-cormorant: var(--font-cormorant);

  /* Déclaration de mes couleurs perso */
  --color-terra: #95421A;
}

/* Styles globaux de base */
body {
  font-family: var(--font-montserrat);
  font-weight: 300;
}

/* Utilitaire pour les polices */
.font-autumn {
  font-family: var(--font-autumn);
}

.font-cormorant {
  font-family: var(--font-cormorant);
}
